
.users-card{
    background-color: white;
    padding: 10px 12px;
    // width: 272px;
    height: 359px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    
    .users-cards-top{
        display: flex;
        justify-content: space-between;
        .users-cards-top-title-left{
            font-weight: bold;
            font-size: 14px;
        }
        .users-cards-top-title-right{
            display: flex;
            
            div{
                margin-left: 10px;
            }
            a{
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
    .users-cards-middle{
        padding-left: 10px;
       
        img {
           padding-bottom: 10px;
        }
        .users-cards-middle-text {
            font-size: 30px;
            font-weight: bold;
            padding-left: 5px;
            width: 250px;
            height: 250px;
            margin: auto;
        }
        .users-cards-middle-bullets{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span:first-child{
                h3{
                    font-size: 24px;
                    color: #09A479;
                    font-weight: bold;
                    margin: 0px;
                }
                p{
                    font-size: 14px;
                    margin: 0px;
                }
            }
            span{
                h3{
                    font-size: 24px;
                    color: #276AFF;
                    margin: 0px;
                    font-weight: bold;

                }
                p{
                    font-size: 14px;
                    margin: 0px;
                }
            }
        }
    }

}
