

.support-admin-cards{
    background-color: white;
    padding: 10px 12px;
    height: 359px;
    border-radius: 6px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    .support-admin-top{    
        .support-admin-card{
            display: flex;
            padding: 10px;
            margin: 5px 0px;
            border-radius: 6px;
            div:first-child{
                width: 80%;
                padding: 0px 0px;
                margin: 0px 10px;
                h4{
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0px;
                }
                p{
                    font-size: 14px;
                }
            }
            div:last-child{
                width: 20%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }
    }
    
}
 