
.support-cards{
    background-color: white;
    padding: 10px 12px;
    height: 359px;
    border-radius: 6px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    max-width: 359px;
    .support-cards-top{
        display: flex;
        .support-cards-top-title-left{
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 20px;

        }
        .support-cards-top-title-right{
            a{
                margin-left: 5px;
                font-weight: bold;
            }
        }
    }
    .support-cards-middle{
        padding-left: 0px;
        .support-cards-middle-subtitle{
            display: flex;
            justify-content: space-between;
        }
        .support-cards-middle-supporttile{
            
        }
        .support-tile-card{
            display: flex;
            margin: 15px 0px;
            :first-child{
                margin-right: 10px;
            }
            p:first-child{
                color: #276AFF;
                font-size: 13px;
                font-weight: bold;
            }
            p{
                margin-bottom: 0px;
                font-size: 13px;
            }
        }
        .supports-cards-middle-text{
            padding: 2px 15px;
            height: 25px;
            font-size: 11px;
        }
    }
}


@media screen and (max-width: 650px ){
    .support-cards{
        flex-grow: 1;
    }
}